body,section{
  overflow-x: hidden;
}
:root{
    --dark-green:#0b3948;
    --green-color:#416165;
    --light-broun:#d0cdd7;
    --light-gray:#d9dbf1;
    --bright-green:#95d289;
}
section{
  padding-top: 50px; 
  padding-bottom: 50px;
  overflow-x: hidden;
}
h3{
  color: var(--dark-green);
  position: relative;
} 
/*keyframes*/
@media not (prefers-reduced-motion){

@keyframes slide-in-right {
  from{right: -50px; opacity: 0;}
  to{right: 0px; opacity: 1; }
}
@keyframes slide-out-right {
  from{right: 0px; opacity: 1;}
  to{right: -50px; opacity: 0; }
}
@keyframes slide-in-left{
  from{left: -50px; opacity: 0;}
  to{left: 0px; opacity: 1; }
}
@keyframes slide-out-left{
  from{left: 0; opacity: 1;}
  to{left: -50px; opacity: 0; }
}
@keyframes slide-in-botton{
  from{bottom: -100px; opacity: 0;}
  to{bottom: 0px; opacity: 1; }
}
@keyframes slide-out-botton{
  from{bottom: 0px; opacity: 1;}
  to{bottom: -100px; opacity: 0; }
}
@keyframes grow {
  from {width: 0; height: 0;}
  to {width: 100%; height:100%; }
}
@keyframes shrink {
  from {width: 100%; height: 100%;}
  to {width: 0%; height:0%; }
}
@keyframes fade-in {
  from{opacity: 0;}
  to{opacity: 100;}
}
@keyframes fade-out {
  from{opacity: 100;}
  to{opacity: 0;}
}
@keyframes hightlight {
  0% {background-image: linear-gradient(to right, var(--light-gray) 0%, var(--light-gray) 100%);}
  20% {background-image: linear-gradient(to right, var(--bright-green) 20%, var(--light-gray) 80%);}
  40% {background-image: linear-gradient(to right, var(--bright-green) 40%, var(--light-gray) 60%);}
  60% {background-image: linear-gradient(to right, var(--bright-green) 60%, var(--light-gray) 40%);}
  80% {background-image: linear-gradient(to right, var(--bright-green) 80%, var(--light-gray) 20%);}
  100% {background-image: linear-gradient(to right, var(--bright-green) 100%, var(--light-gray) 0%); }
}
@keyframes unhightlight {
  0% {background-image: linear-gradient(to right, var(--bright-green) 100%, var(--light-gray) 0%); }
  20% {background-image: linear-gradient(to right, var(--bright-green) 80%, var(--light-gray) 20%);}
  40%  {background-image: linear-gradient(to right, var(--bright-green) 60%, var(--light-gray) 40%);}
  60% {background-image: linear-gradient(to right, var(--bright-green) 40%, var(--light-gray) 60%);}
  80% {background-image: linear-gradient(to right, var(--bright-green) 20%, var(--light-gray) 80%);}
  100%{background-image: linear-gradient(to right, var(--light-gray) 0%, var(--light-gray) 100%);}
}
@keyframes arrow-Animation {
  0%{transform: translate(0px, 0px);}
  50%{transform: translate(-10px, 0px) }
  100%{transform: translate(0px, 0px) }

}

}
/*start about section*/
 #HomeText{
  width: 75%;
 }
 .home_text span{
  color: var(--dark-green);
 }

 .image_container{
  min-width: 250px;
  width: 40%;
 }
 .image_container img {
  transition: transform 2s;
    position: relative;
    animation-name:slide-out-right ;
    animation-duration: 0.25s;  
    animation-delay: 0.25s;
    animation-fill-mode: both;
  }
.green_space{
    background-color: var(--green-color);
    top:15%;
    left: 10%;
    z-index: -1;
    animation-name: shrink;
    animation-duration: 0.25s;  
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.home_section.animation .image_container img {
  animation-name:slide-in-right ;
}
.home_section.animation .green_space{
  animation-name: grow;
}
@media screen and (max-width: 992px) {
    .green_space{
        max-height: 166px;
    }
}


  .image_container img:hover{
    transform: scale3d(1.05, 1.05, 1.05);
  }
  /*end about section*/
  /*start about section*/
  .about_section{
    background-color: var(--light-gray);
    position: relative;
    animation-name: slide-out-left;
    animation-duration: 1.5s;  
    animation-delay: 0s;
    animation-fill-mode: both;
  }
  .about_section.animation{
    animation-name: slide-in-left;
  }
  mark{
    /* display: inline-block; */
    height: 20px;
    top: 3px;
    padding: 0px;
    line-height: 1;
    border-radius: 5px;
    background-color: var(--bright-green);
  }
  mark.animation{
    animation-name: hightlight;
    animation-duration: 3s;  
    animation-delay:0.25s;
    animation-fill-mode: both;
  }
  /*end about section*/

  /*start gallery section*/
  .gallery_section{
    margin: 0;
    padding-top: 50px;
    position: relative;
    animation-name: slide-out-right;
    animation-duration: 1.5s;  
    animation-fill-mode: both;
    animation-delay: 0s;
    width: calc(100% - 50px);

  }
  
  #gallery{
    gap:10px;
    position: relative;
  }
  #gallery img{
    position: relative;
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: 100% 50%;
       /*prevent user select*/
       -webkit-user-select: none; /* Safari */
       -ms-user-select: none; /* IE 10 and IE 11 */
       user-select: none; /* Standard syntax */
  }
  .arrow_svg{
    position: relative;
    width: 100%;
    height: 65px;
    animation-name: arrow-Animation;
    animation-duration: 2s;  
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  .gallery_section.animation {
    width: 100%;
    animation-name: slide-in-right;
  }
  
    /*end gallery section*/

/*start testimonials_section*/
.testimonials_section{
  background-color: var(--light-gray);
  position: relative;
  animation-name: slide-out-left;
  animation-duration: 1.5s;  
  animation-fill-mode: both;
  animation-delay: 0.5s;
  
}
.testimonials_section h3{
  animation-name: slide-out-right;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-delay: 0s
}
.testimonials_section .card{
  max-width: 20rem;
  animation-name: slide-out-botton;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-delay: 0s;
}

.testimonials_section img{
width: 105px;}


.stars i{
  color:#fab005;
  font-size: 0.8rem;
}

.testimonials_section.animation {
  animation-name: slide-in-left;
  animation-delay: 0s;
} 

.testimonials_section.animation h3{
  animation-name: slide-in-right;
  animation-delay: 1s
}
.testimonials_section.animation .card{
  animation-name: slide-in-botton;
  animation-delay: 1s;
}

/*start contact_section */
.contact_section{
position: relative;
  animation-name: fade-out;
  animation-duration: 1s;  
  animation-fill-mode: both;
  animation-delay: 1s
}
.contact_section.animation{
  animation-name: fade-in;
}
.contact_section a i{
  font-size: 40px;
  padding: 10px;
  color: var(--dark-green);
  text-shadow: 1px 1px 3px var(--green-color);
}
.contact_section a:hover i{
  text-shadow: 2px 2px 3px var(--green-color);
  transition: 0.5s;
}
/*end contact_section */

/*start footer*/
footer{
  background-color: var(--dark-green);
  color: var(--light-gray);
}